.SideNav{
   z-index:10000000;
   display:fixed;
   transition: max-width 1s;
   overflow:hidden;
   width:auto;
   max-width:10px;
}
.SideNavTxt{
   transition: opacity 1s;
   width:0;
   opacity:0;
   overflow: hidden;
}
.SideNav:hover .SideNavTxt{
   opacity:1;
   width:auto;
}
.SideNav:hover{
   max-width:2000px;
}
