:root {
    --btn-hovercolor: #b2cbfa;
    --btn-selectcolor: #A1C2FF;
}

/* Home Page Posts */
.post-alignment {
    position: absolute;
    top: 50%;
    left: 50%;
}

/* Nav Bar Items */
.sidenav-btn:hover {
    background-color: var(--btn-hovercolor);
    width: 100%;

    transition: 0.5s;
    cursor: pointer;

}

.nav-container{
    width: 80px;
}

.max-nav{
    left: -188px;
    width: max-content;
    transition: left 0.6s;
    z-index: 0;
}

.nav-container:hover .max-nav{
    width: max-content;
    left: 0px;
    z-index: 1;
}

.mini-nav {
    left: 0px;
    width: fit-content;
    transition: left 0.6s;
    z-index: 1;
}

.nav-container:hover .mini-nav{
    left: -80px;
    z-index: 0;
}
/* Settings */
#Banner{
   width: 100vw;
   height:20vh;
   object-fit:cover;
   top:0;
}
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}
.tab-list-item:hover{
   background-color:#fafafa55
}
.tab-list-item {
  background-color: #fafafaff;
  transition: background-color 0.5s;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border-bottom: solid 3px #000;
}
#ProfileText{
   position: absolute;
   top: 16vh;
   left:3vw;
   display:flex;
   flex-direction:row;
   align-items:center;
}
#SettingsPP{
   border-radius:50%;
   width:10vw;
   height:10vw;
   object-fit: cover;
   border: 2px solid #ccc;
}
#TitleText{
   margin-left: 3vw;
}
h1{
   font-size:2rem;
   font-weight: bold;
}
h2{
   font-size:1rem;
}
.button{
   padding: 5px;
   
   color:#fff;
   background: #FF7D7D;
   border: 1px solid #ED5A5A;
   border-radius: 10px;

}
#SignOutBtn{
margin:10px;
float:right;
}
#SignOutDiv{
margin-bottom: 13vh;

}
.MainDiv{
   background:#fafafa;
   padding-left:10px;
   height:100vh;
}
